<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>


    <title>Cats</title>
</head>
<body>
<h1> HELLO </h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Has tail</th>
        <th scope="col">Colour</th>
        <th scope="col"> Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="cat: ${cats}">
        <td th:text="${cat.name}" />
        <td th:text="${cat.age}" />
        <td th:text="${cat.hasTail}" />
        <td th:text="${cat.colour}" />
        <td>
            <form th:action="'/delete/' + ${cat.id}" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <form th:action="'/edit/' + ${cat.id}" method="GET">
                <button type="submit" class="btn primary">Edit</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>

<button type="button" class="btn btn-success" onclick="window.location.href='/add'">Add cat</button>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>